#container {
    width: 800px;
    height: 600px;
    position: relative;
    background: grey;
    border-style: solid;
    border-width: thick;
}

#player1 {

    position: relative;
    height: 50px;
    width: 50px;
}

#player2 {
    position: relative;
    height: 50px;
    width: 50px;
}

#playermoving {}


#platform {
    width: 100px;
    height: 10px;
    background-color: black;
    position: relative;
    top: 300px;
    left: 500px;
}

#health {
    height: 50px;
    width: 800px;

}

#healthred {
    height: 25px;
    width: 800px;
    background-color: red;



}

#healthblue {
    height: 25px;
    width: 800px;
    background-color: blue;
}
