#container {
    width: 800px;
    height: 600px;
    position: relative;
    background: grey;
    border-style: solid;
    border-width: thick;
}

#player1 {

    position: relative;
    height: 50px;
    width: 50px;
}

#player2 {
    position: relative;
    height: 50px;
    width: 50px;
}




#platform {
    width: 100px;
    height: 10px;
    background-color: black;
    position: relative;
    top: 300px;
    left: 500px;
}

#platform2 {
    width: 100px;
    height: 10px;
    background-color: black;
    position: relative;

}

#platform3 {
    width: 100px;
    height: 10px;
    background-color: black;
    position: relative;

}

#health {
    height: 50px;
    width: 800px;
    position: relative;
}

#healthred {
    height: 25px;

    background-color: red;
    position: relative;



}

#healthblue {
    height: 25px;

    background-color: blue;
}

#bluewins {
    color: blue;
}

#redwins {
    color: red;
}
