#container {
    width: 800px;
    height: 600px;
    position: relative;
    background: grey;
    border-style: solid;
    border-width: thick;
}

#player1 {

    position: relative;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}
#player12 {
    height: 600px;
    width: 800px;
    animation-name: example;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#platform {
     width: 100px;
    height: 10px;
    background-color: black;
    position: relative;
    top: 300px;
    left: 500px;
}

#health {
    height: 50px;
    width: 800px;

}

#healthred {
    height: 25px;
    width: 800px;
    background-color: red;



}
#healthblue {
    height: 25px;
    width: 800px;
    background-color: blue;
}


