#container {
    width: 800px;
    height: 600px;
    position: relative;
    background: grey;
    border-style: solid;
    border-width: thick;
}

#player1 {

    position: relative;
    height: 50px;
    width: 50px;
}

#player2 {
    position: relative;
    height: 50px;
    width: 50px;
}




#health {
    height: 50px;
    width: 800px;
    position: relative;
}

#healthred {
    height: 25px;

    background-color: red;
    position: relative;



}

#healthblue {
    height: 25px;

    background-color: blue;
}

#bluewins {
    color: blue;
      margin-left: 40%;
    margin-right: 35%;
}

#redwins {
    color: red;
    margin-left: 40%;
    margin-right: 35%;
}
#blue {
    color: blue;
}
#red {
    color: red;
}
#game {
    margin-left: 20%;
    margin-right: 20%;
}
